@CHARSET "UTF-8";

/* Sirve para deshabilitar enlaces usando disabled */

a[disabled] {
    pointer-events: none;
}

.imagenFondo{	
	margin-top: 28px;
	width: 100%;
    height: 388px;
    background-image: url(../img/bg/fondo_login.jpg);
    background-size: 100% 100%;
    border: 1px solid black;	
}

.imagenAdios{	
	margin-top: 28px;
	width: 100%;
    height: 388px;
    background-image: url(../img/bg/adios.png);
    background-size: 100% 100%;
    border: 1px solid black;	
}

.imagenAdios h2{	
	margin-left: 12px;	
}

.imagen{
	margin: 6px 24px 6px ;
}

.logo{
	width: 122px;
	height: 40px;
	margin-top: -10px;
}

.botonSalida, .botonPeriodo{
	margin-top: 10px;
	margin-left: 5px;
}

.modal-content input[type="radio"]{
	margin: 6px 2px 6px 20px;
}

.modal-content label{
	margin-top: 10px;
}

#ui-datepicker-div {display: none;}

.negrita{
	font-weight: bold;
}

.preguntas{
	margin-top: 10px;	
}
.preguntas small{
	font-size: 14px;	
	margin-right: 4%;	
}

input[type="text"]:focus, textarea:focus { 
    background-color: #F2F5A9;    
}

.footer{
	height: 60px;
}

.footer button, .footer a{
	float: right;
	margin: 20px 0px 0px 10px;
	width: 120px;
}

.validacion .btn-group{	
	margin-left: 10px;
}

#solicitud .validacion label{	
	width: 200px;
}

.validacion i{
	margin: 4px;
}

select#selIdioma option[value="es_ES"]   { background-image: url(../img/bg/ES.png);   }
select#selIdioma option[value="en_GB"] { background-image: url(../img/bg/GB.png); }

#periodificacion div label{
	margin-top: 10px;
}

#tabs a{
	font-size: 26px;		
}

#eliminar{
	cursor: pointer;
}

.transparente{
	width: 98%;
	background: transparent;
	border: none;
	text-align: left;
}

.transparenteNumerico{
	width: 98%;	
	text-align: right;
}

div.tooltip-inner {
	font-size: 14px;
	text-align: left;
	max-width: 550px;
    width: 580px;
    background-color: white;
    border: solid 1px #ddd;
    color: black; 
    padding: 0;
    z-index: 999;
}

div.tooltip-inner table{
	width: 100%;
}

div.tooltip-inner table tr td{
	padding: 5px;
}

div.tooltip-inner table tr:nth-child(odd) {
   background-color: #f2f2f2;
}

.spinner {
  width: 100%;
}
.spinner input {
  text-align: right;
}
.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}
.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
  position: absolute;
  top: 0;
  left: 4px;
}
.botones-derecha a{	
	margin: 0 0 0 10px;	
}

.transparent{
	width: 100%;
	border: none;
	background: transparent;
}

.table > tbody > tr > td {
     vertical-align: middle;
}

.fuente_minima{	
	font-size: 12px;
	color: black;
}

.grande{
	font-size: 18px;	
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}

/*
Esto debía venir con lo del fichero de importación, pero no quiero que las readonly sean blancas 
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}
*/

.derecha select{
	float: right;
	width: 90px;
	margin-left: 10px;
}

.derecha label{
	float: right;
	margin: 4px 10px 2px 0;
	font-size: 24px;
}

.derecha a{
	float: right;
	width: 120px;
	margin: 0 0 0 10px;
}

.mini a, .mini button{
	float: right;
	width: 50px;
	margin: 0 0 0 10px;
}

.mini label{		
	margin: 0 0 0 10px;
	font-size: 14px;
	height: 10px;
	padding: 8px 10px 20px 10px;
	vertical-align: text-top;		
}

.izquierda input[type="submit"], .izquierda input[type="button"]{
	margin: 10px 0 0 0;
	float: left;
	width: 120px;
}

.centro{
	text-align: center;
}

.centro input[type="submit"], .centro input[type="button"]{
	margin: 10px 0 0 0;
	width: 120px;
}

.derecha input[type="submit"], .derecha input[type="button"]{	
	float: right;
	width: 120px;
	margin: 10px 0 0 0;
}

.izquierdaEmergente input[type="submit"], .izquierdaEmergente input[type="button"]{
	margin: 10px 0 0 0px;
	float: left;
	width: 120px;	
}

.derechaEmergente input[type="submit"], .derechaEmergente input[type="button"]{
	margin: 10px -15px 0 0;
	float: right;
	width: 120px;
}

.not-active {
   pointer-events: none;
   cursor: default;
}

.disabledTab {
	pointer-events: none;
}

.navbar-brand{
	padding: 10px 15px;
}

#divTabla, #divContenedorDetallePeriodificaciones{
	margin: 12px;
}

#pedi_incidencia, #pedi_anulado{
	margin: 0;
	width: 35px;
}

#tabla input[type='checkbox']{
	height: 25px;
	width: 25px;
}

.checkGrande{	
	height: 25px;
	width: 25px;
}

.gefco-tooltip + .tooltip > .tooltip-inner {
	background-color: #131D70;
	font-family: inherit;
  	font-size: 13px;
  	font-weight: bold;
  	width: auto;
  	color: #F2C128;
  	padding: 6px;
}

.vacio{
	color: white;		
}

.sacar{
	background-color: #FFC433;
	cursor: pointer;
	font-size: 18px;
}

.invisible{
	display: none;
}

#etiquetaIncidencia{
	font-size:20px; 
	font-weight: bold; 
	color: red; 
	vertical-align: top;
}

#etiquetaGrupo, #etiqueta_precio_cc{
	vertical-align: super;
}

.validado{
	font-size: 24px; color: green; margin-left: 3px; vertical-align: super;
}

.rechazado{
	font-size: 24px; color: red;
}

#btnPrefacturar{
	background-color: #E3310B;
}